{% extends "inc/base.html" %}
{% load static %}

{% block content %}
<div class="col-9">
  <div class="row " id="main-question">
    <div class="question expandable-question">
      {% with question=main_question.0 question_tags=main_question.1 likes=main_question.2 answer_count=main_question.3 %}
        {% include "inc/question_item.html" %}
      {% endwith %}
    </div>
</div>


<div class="row">
  <div class="header">Answers({{ answer_amount }}):</div>
</div>

{% for answer,likes in items %}
  {% include "inc/answer_item.html" %}
{% endfor %}
{% include "inc/pagination_item.html" %}
<div class="row">
  <div class="header">Type what you think:</div>
</div>
<div class="row">
  <textarea id="add-answer-text-area" placeholder="Type your answer here" class="question-text-area col-10"></textarea>
</div>
<div class="row">
  <div class="col-4">
    <button class="search-button" id="login-button">Answer</button>
  </div>
</div>

</div>
{% endblock content %}
