{% extends "inc/base.html" %}
{% load static %}

{% block content %}
<div class="row">
  <h1 class="header" id="settings-header">Settings</h1>
</div>

<div class="col-1">
</div>
<div class="col-5">
  <div class="row space-between-columns">
    <div class="content-column">
      <div class="row login-row">
        <div class="col-3 yellow-text">Login</div>
        <input class="col-7 login-field">
      </div>
      <div class="row login-row">
        <div class="col-3 yellow-text">Email</div>
        <input class="col-7 login-field">
      </div>
      <div class="row login-row">
        <div class="col-3 yellow-text">NickName</div>
        <input class="col-7 login-field">
      </div>
      <div class="row login-row">
        <div class="col-3 yellow-text">Upload avatar</div>
        <div class="row col-8">
          <div class="row">
            <div class="col-12 user-avatar" id="big-avatar">
              <img src="{% static "img/my_avatar.jpg" %}" class="my-avatar">
            </div>
          </div>
          <div class="row" id="choose-row">
            <input class="col-8 login-field">
            <div class="col-4" id="choose-box">
              <button class="search-button" id="choose-button">choose</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row login-row">
        <div class="col-3"></div>
        <div class="row col-4">
          <div class="row login-row">
            <button class="search-button" id="login-button">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
