{% extends "inc/base.html" %}
{% load static %}

{% block content %}
<div class="row">
  <h1 class="header" id="settings-header">Settings</h1>
</div>

<div class="col-1">
</div>
<div class="col-5">
  <form action="/settings/" enctype="multipart/form-data" method="post">
    {% csrf_token %}
      <div class="row space-between-columns">
        <div class="content-column">
          <div class="row">
            <div class="error-message">{{ form.errors }} {{ profile_form.errors }}</div>
          </div>
          {% for field in form %}
          <div class="row login-row">
            <div class="col-3 yellow-text">{{ field.label }}</div>
            {{ field }}
          </div>
          {% endfor %}
          {% for field in profile_form %}
          <div class="row login-row">
            <label class="col-3 yellow-text">{{ field.label }}</label>
            <!--TODO: поле и кнопку для выбора файла связать с помощью js-->
            <input class="col-4 login-field">
            <div class="col-3">
              {{ field }}
            </div>
          </div>
          {% endfor %}
          <img src="{{ request.user.profile.avatar.url }}" class="login-row" width="300px">
          <div class="row login-row">
            <div class="col-3"></div>
            <div class="row col-4">
              <div class="row login-row">
                <button type="submit" class="search-button" id="login-button">Save</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
</div>
{% endblock content %}
