/* vampiro-one-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Vampiro One';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/vampiro-one-v18-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/vampiro-one-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/vampiro-one-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/vampiro-one-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/vampiro-one-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/vampiro-one-v18-latin-regular.svg#VampiroOne') format('svg'); /* Legacy iOS */
}
/* timmana-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Timmana';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/timmana-v12-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/timmana-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/timmana-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/timmana-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/timmana-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/timmana-v12-latin-regular.svg#Timmana') format('svg'); /* Legacy iOS */
}

/* antic-slab-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Antic Slab';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/antic-slab-v16-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/antic-slab-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/antic-slab-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/antic-slab-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/antic-slab-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/antic-slab-v16-latin-regular.svg#AnticSlab') format('svg'); /* Legacy iOS */
}

main > .container {
    padding: 60px 15px 0;
}

body {
    font-family: 'Antic Slab', sans-serif;
    background-color: #363632;
    color: #FDF6E3;
}
#footer {
    height: 180px;
}
a {
    color: #FFD600;
}

a:hover {
    color: #caa900fd;
}

a:visited {
    color: #8B4D4D;
}

.logo-container {
    padding-left: 100px;
}
.logo {
    font-family: "Vampiro one", sans-serif;
    color: #B63939;
    border: 2px;
    border-radius: 50%;
    font-size: 400%;
}
a.logo:visited, a.question-header:visited {
    color: #B63939;
}
a.logo:hover {
    color: #B63939;
    background-color: #363632;
}


.search {
    padding-left: 100px;
}

.search-bar {
    width: 700px;
}
.question {
    height: 200px;
    border: 4px;
    border-radius: 10px;
    padding: 10px;
    width: 95%;
    margin-bottom: 20px;
}

.question-avatar {
    width: 100%;
    padding: 10%;
    height: auto;
    margin-left: 5px;
}

.question-avatar > img
{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.question-text
{
    margin-bottom: 5%;
}

a.question-header:link {
    text-decoration: none;
}

a.question-header:hover {
    color: #B63939;
}

.header {
    font-family: "Timmana", serif;
    color: #B63939;
    font-size: 40px;
}

#footer, .navbar, .question {
    background-color: #262621;
}

.navbar {
    height: 90px;
}

#hot-questions {
    margin-left: 100px;
    font-size: 25px;
}
a.page-link {
    background-color:#363632;
    border: 0px;
}

.like-field {  
    background-color: #363632; 
    margin-left: 30%;
    border-radius: 10%;
    width: 60px;
    height: 40px;
    display: flex;
    flex-direction: row;
}

.like-counter {
    float: left;
    text-align: center;
    margin: auto;
}

.like-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.like-buttons button {
    width: auto;
    background-color: #B63939;
    border: 0px;
    height: auto;
    height: 20px;
    text-align: center;
    line-height: 20px;
    box-sizing: border-box;
}

.best-members {
    margin-top: 100px;
}

.logo-bubble {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 100px;
    width: auto;
    border-radius: 50%;
}

.search-button {
    color:#FDF6E3;
    background-color: #B63939;
    border: 0px;
}

button.search-button:hover {
    color:#FDF6E3;
    background-color: #7c2828;
    border: 0px;
}

.pagination li a{
    color:#FFD600;
}

.pagination li a:hover {
    color:#FFD600;
    background-color:#262621;
}


.user-avatar {
    height: 90px;
    width: 90px;
    padding: 5px;
}
.user-avatar .my-avatar {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.user {
    display: flex;
    flex-direction: row;
    background-color:#B63939;
    border-radius: 5px;
    width: 300px;
    justify-content: space-around;
    align-items: center;
}

#user-settings {
    display: flex;
    flex-direction: column;
    height: 90px;
    justify-content:center;
    padding: 5px;
}

#user-settings div
{
    font-weight: bold;
    font-size: large;
    display: flex;
    flex-direction: row;
}
#user-settings div a{
    background-color: #262621;
    border-radius: 5px;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    margin-right: 15px;
    text-align: center;
}

#settings {
    color:#FDF6E3;
}

#logout {
    color:#f70101;
}

#logout:link, #settings:link {
    text-decoration: none;
}

#logout:hover, #settings:hover {
    background-color: #363632;
}

main {
    margin-top: 60px;
    margin-bottom: 20px;
}

.question-text-area {
    resize:vertical;
    background-color: #262621;
    color:#FDF6E3;
    border: 0px;
    width: 90%;
    border-radius: 5px;
}

.new-question {
    margin-bottom: 30px;
}

#content-area {
    height: 200px;
}

#ask-button {
    font-weight: bold;
    font-size:35px;
    font-family: "Timmana", serif;
    height: 60px;
    width: 120px;
    margin: auto;
    padding: 0px;
    display: block;
    line-height: 75px;
    text-align: center;
    border-radius: 5px;
}

.field-name {
    color: #FFD600;
    font-weight: bold;
    font-size: 25px;
    font-family: "Timmana", serif;
}

.expandable-question {
    height: auto;
    padding-right: 20px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.tag {
    color: #FBEECD;
}

.question-text-field {
    padding-top: 15px;
    padding-bottom: 10px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.yellow-text {
    color:#FFD600;
    font-weight: 30;
    font-size: 20px;
    font-family: "Timmana", serif;
}
input[type=checkbox] {
    transform: scale(1.5);
    margin-right: 10px;
}

#main-question {
    margin-bottom: 40px;
}

.correct-answer-checkbox {
    margin-bottom: 0px;
}

#add-answer-text-area {
    width: 95%;
    border-radius: 10px;
    height: 200px;
}

.error-message {
    margin-top: 15px;
    margin-bottom: 15px;
    color: red;

}

.login-row {
    margin-bottom: 30px;
}

.login-field {
    background-color:#363632;
    border: 0px;
    border-radius: 5px;
    color: #FDF6E3;
    height: 30px;
}

#login-button {
    width: 100px;
    border-radius: 4px;
}

.content-column {
    background-color: #262621;
    border-radius: 10px;
    padding: 20px;
    padding-top: 30px;
}

#choose-button {
    height: 30px;
    border-radius: 5px;
    width: 100%;
}

#big-avatar {
    padding: 0px;
    margin-bottom: 15px;
}

.no-user {
    color:#FDF6E3;
    margin-right: 35px;
    font-size: 20px;
}

a.no-user:link {
    color:#FDF6E3;
}

a.no-user:visited {
    color:#FDF6E3;
}

.space-between-columns {
    margin-right: 30px;
}

#settings-header {
    margin-left: 8%;
}

#registration-header {
    margin-left: 8%;
}
#login-header {
    margin-left: 8%;
}

#create-new-account-link {
    margin-top: 10px;
}

#choose-box {
    padding: 0px;
    padding-left: 5px;
}

#choose-row {
    padding-right: 3px;
}