{% load static %}
<div>
    <ul class="pagination">
        {% if items.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">&laquo;</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ items.previous_page_number }}">{{ items.previous_page_number }}</a></li>
        {% endif %}
        <li class="page-item"><a class="page-link" id="current-page" href="?page={{ items.number }}">{{ items.number }}</a></li>
        {% if items.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ items.next_page_number }}">{{ items.next_page_number }}</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ items.paginator.num_pages }}">&raquo;</a></li>
        {% endif %}
    </ul>
</div>
